*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.upload-form{
        /* width: 58%; */
        border: 1px solid;
        margin: auto;
        width: 700px;
}

#form-upload-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}